@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: white;
    color: black;
}
body::-webkit-scrollbar{
    background-color: rgb(204, 204, 204);
    width: 10px;
}
/* body::-webkit-scrollbar-button{
    background-color: thistle;
} */
body::-webkit-scrollbar-thumb{
    background-color: rgb(167, 167, 167);
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(167, 119, 167);
}

header{
    position: fixed;
    background-color: rgba(236, 236, 236, 0.61);
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display:flex ;
    align-items: center;
}

.comig{
    color: rgb(211, 45, 45);
    cursor: pointer;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 20vw;
    justify-content: space-between;
}

button{
    border-radius: 1vw;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: white;
    width: 8vw;
    height: 2rem;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 1vw;
}
button:hover{
    border: 2px solid rgb(211, 45, 45);
}
.menu p{
    color: black ;
    font-size: 1rem;
    font-weight: 400;
}

.login{
    margin-right: 10rem;
    font-size: 1rem;
}

.login p{
    font-size: 1rem;
}

.banner{
    background-image: url(./images/imagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x:center;
    width: 100%;
    height: 600px;
}
#potato{
    position: relative;
    top: -8rem;
    margin-left: 45rem;
    color: white;
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
}

.conteudo{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Dancing Script', sans-serif;
}
.conteudo h2{
    padding: 2rem;
    font-size: 3rem;
    font-weight: 800;
}
.opicoes{
    display: grid;
    grid-template-columns: 30vw 30vw;
    padding-top: 2rem;
    gap: 10rem;
    align-items: center;
    justify-content: center;
}

.imag{
    background-color: gray;
    width: 30vw;
    height: 30vw;
}

.img1{
    background: url(./images/presente.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.img2{
    background: url(./images/votos.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.img3{
    background: url(./images/decoracao.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.img4{
    background: url(./images/convite.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}


.recursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recursos h3{
    padding: 1rem;
    font-size: 2rem;

}
